<h1>
    Rich
</h1>

<first-component label="Comprar"></first-component>

<!--Interpolação-->
<first-component label = {{nameBtn}}></first-component>

<!--Property binding-->
<first-component [label] = "nameBtn"></first-component>
<first-component [label]="servicos[1]"></first-component>

<!--Two way data binding-->
<first-component></first-component>

<!--Ta imputando algo, logo esta mudando no onChange-->

<!--NgIf verifica se algum conteudo deveria ser exibiod, por padrao exibe true-->
<app-title-component *ngIf="isAlive"></app-title-component>
<button  *ngIf="disposeExibe" (click)="disposeTitle()">Destruir</button>